# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [25]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

balt_df = pd.read_csv('baltimore_9-24-2016_9-30-2017.csv')
bost_df = pd.read_csv('boston_9-24-2016_9-30-2017.csv')
york_df = pd.read_csv('new-york_9-24-2016_9-30-2017.csv')
phil_df = pd.read_csv('philadelphia_9-24-2016_9-30-2017.csv')

In [17]:
balt_df.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [39]:
balt_df.shape

(153, 12)

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [21]:
# Clean your data here!
for col in balt_df.columns:
    pct_missing = np.mean(balt_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
    
print('')
    
for col in bost_df.columns:
    pct_missing = np.mean(bost_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
print('')
    
for col in york_df.columns:
    pct_missing = np.mean(york_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
print('')
    
for col in phil_df.columns:
    pct_missing = np.mean(phil_df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [26]:
balt_df = balt_df.drop(["Commodity Name", "Type", "Grade","Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage","Crop", "Trans Mode", "Color", "Sub Variety"], axis=1) 
bost_df = bost_df.drop(["Commodity Name", "Type", "Grade","Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage","Crop", "Trans Mode", "Color", "Sub Variety"], axis=1)
york_df = york_df.drop(["Commodity Name", "Type", "Grade","Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage","Crop", "Trans Mode", "Color", "Sub Variety"], axis=1)
phil_df = phil_df.drop(["Commodity Name", "Type", "Grade","Origin District", "Environment", "Quality", "Condition", "Appearance", "Storage","Crop", "Trans Mode", "Color", "Sub Variety"], axis=1)

In [44]:
balt_df.head()

,City Name,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Unit of Sale,Repack
0,BALTIMORE,24 inch bins,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,E
1,BALTIMORE,24 inch bins,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,E
2,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,N
3,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,N
4,BALTIMORE,24 inch bins,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,N

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [40]:
# Combine the four dataframes into one!

northeast_df = pd.concat([balt_df, york_df, bost_df, phil_df],axis=0)
northeast_df.head()

,City Name,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Unit of Sale,Repack
0,BALTIMORE,24 inch bins,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,E
1,BALTIMORE,24 inch bins,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,E
2,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,N
3,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,N
4,BALTIMORE,24 inch bins,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,N

In [41]:
northeast_df.shape

(674, 12)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [33]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

region_types = northeast_df.groupby("Package").agg({"High Price":["mean"],"Low Price":["mean"]})
region_types

                      High Price   Low Price
                            mean        mean
Package
1 1/9 bushel cartons   16.739583   15.875000
1 1/9 bushel crates    16.705882   16.058824
1/2 bushel cartons     17.597938   16.030928
24 inch bins          202.808989  188.005618
36 inch bins          196.550633  170.458861
50 lb sacks            25.333333   25.111111
bushel cartons         22.857143   20.571429
each                   80.000000   75.000000

In [57]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

print(northeast_df.value_counts("Variety"))

    

for value in northeast_df.value_counts("Variety"):
    print((value/674)*100)

# this question is incredibly vague... I have no idea what it's trying to ask. But I tried to calculate the percentages 
# of each type..?

Variety
HOWDEN TYPE                 224
PIE TYPE                    198
MINIATURE                    97
BIG MACK TYPE                55
CINDERELLA                   39
FAIRYTALE                    37
KNUCKLE HEAD                  9
BLUE TYPE                     7
MIXED HEIRLOOM VARIETIES      4
HOWDEN WHITE TYPE             2
dtype: int64
33.23442136498516
29.376854599406528
14.391691394658753
8.160237388724036
5.786350148367952
5.489614243323442
1.3353115727002967
1.0385756676557862
0.5934718100890208
0.2967359050445104

In [55]:
x = northeast_df.groupby("Variety").agg
region_types = northeast_df.groupby("Package").agg({"High Price":["mean"],"Low Price":["mean"]})

ValueError: no results

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!